In [2]:
import pandas as pd

Odrediti  verovatno  maksimalnu  količinu  padavina  za  kišomernu  stanicu  Beograd.Podaci o maksimalnoj godišnjoj visini padavina za Beograd su dati u fajlu **zadatak_klima_221.csv**

In [3]:
kisa_bg_df = pd.read_csv('zadatak_klima_221.csv', delimiter=',')

In [28]:
kisa_bg_df.describe()

          value
count  25.00000
mean   42.98000
std    17.45043
min    20.50000
25%    32.00000
50%    39.10000
75%    47.10000
max    94.00000

In [32]:
kisa_bg_df.shape

(25, 1)

In [5]:
kisa_bg_df = kisa_bg_df.set_index('year')

Apsolutni  maksimum  u  periodu  1975-1999.  godine

In [6]:
Max_1_X = kisa_bg_df.value.max()
Max_1_X = kisa_bg_df['value'].max() # ista stvar drugacije zapisana
Max_1_X

94.0

In [7]:
kisa_bg_df.value.idxmax()

1994

In [8]:
kisa_bg_df.value.nlargest(2)

year
1994    94.0
1999    80.0
Name: value, dtype: float64

In [18]:
sorted_kisa = kisa_bg_df.sort_values(by='value')

In [21]:
Max_2_X = sorted_kisa.iloc[-2]
Max_2_X

value    80.0
Name: 1999, dtype: float64

In [23]:
Min_X = kisa_bg_df.value.min()
Min_X

20.5

Aritmeticka sredina:

In [40]:
X_sr_n = kisa_bg_df.mean()
X_sr_n

value    42.98
dtype: float64

Standardna devijacija

In [41]:
Sn = kisa_bg_df.std()
Sn

value    17.45043
dtype: float64

Remove maximum

In [38]:
kisa_bez_max = kisa_bg_df.drop(kisa_bg_df['value'].idxmax())

In [39]:
kisa_bez_max.max()

value    80.0
dtype: float64

In [42]:
X_sr_n_1 = kisa_bez_max.mean()
X_sr_n_1

value    40.854167
dtype: float64

In [46]:
Sn_1 = kisa_bez_max.std()
Sn_1

value    14.1374
dtype: float64

In [47]:
X_sr_n_1 / X_sr_n

value    0.950539
dtype: float64